<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>SECTIONS</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>SEARCH</span>
			</li>
		</ul>
	</nav>
  <nav class="right-nav">
    <ul>
      <li id="subscribe-now-btn">
        <!-- <i class="fa fa-bars"></i> -->
        <span><p>SUBSCRIBE NOW</p><input type="submit" name="" value=""></span>
      </li>
      <li id="log-in-btn">
        <!-- <i class="fa fa-search"></i> -->
        <span><p>LOG IN</p><input type="submit" name="" value=""></span>
      </li>
      <li>
        <i class="fas fa-cog" id="cog"></i>
      </li>
    </ul>
  </nav>
</header>

<hr></hr>