<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
  <nav class="right-nav">
    <ul>
      <li id="subscribe-now-btn">
        <!-- <i class="fa fa-bars"></i> -->
        <span><input type="submit" name="" value="Subscribe Now"></span>
      </li>
      <li id="log-in-btn">
        <!-- <i class="fa fa-search"></i> -->
        <span><input type="submit" name="" value="Log In"></span>
      </li>
      <li>
        <i class="fas fa-cog"></i>
      </li>
    </ul>
  </nav>
</header>